<header class="header" id="header">
	<nav class="navbar container"> <a href="/" class="brand">FlibustaNG</a>
		<div class="menu" id="menu">
			<ul class="menu-list">
				<li class="menu-item">
					<a href="/" class="menu-link"> <i class="menu-icon ion-md-search"></i> <span class="menu-name">Поиск</span> </a>
				</li>
				<li class="menu-item">
					<a href="list" class="menu-link"> <i class="menu-icon ion-md-heart"></i> <span class="menu-name">Моя полка</span> </a>
				</li>
				<li class="menu-item">
					<a href="#" class="menu-link"> <i class="menu-icon ion-md-contact"></i> <span class="menu-name">Аккаунт</span> </a>
				</li>
			</ul>
		</div>
	</nav>
</header>