<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/bottom.css') }}">
	<link rel='stylesheet' href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'> </head>
    {% include "header.html" %}

<body>
	<div class="container">
		<div class="row ">
			<div class="px-4 my-5 text-center align-middle py-5">
				<div class="col-lg-6 mx-auto">
					<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
						<form class="col-12 mb-3 mb-lg-0 me-lg-3" role="search">
							<input type="search" class="form-control form-control-light text-bg-light" placeholder="Автор, название книги" aria-label="Search">
							<button class="btn btn-outline-success px-4 btn-lg form-control my-2" type="submit">Найти книгу</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="list-book">
		<div class="container-xl">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for post in posts %}
				<div class="col">
					<div class="card shadow py-4">
						{% if post.book.details.image != [] %}
					  <img
						class="d-block mx-auto mb-4 book-cover"
						src="{{post.book.details.image}}"
					  />
					  {% endif %}
					  <div class="card-body">
						<h3 class="fs-2">{{post.book.name}}</h3>
						<p class="lead text-muted"><a href="">Алексей Викторович Марков</a></p>
						<p class="card-text">{{post.book.details.info}}</p>
						<div class="d-flex align-items-center">
						  <div class="btn-group-vertical download-link">
							<a href="#" class="btn btn-primary active" aria-current="page">fb2</a>
							<a href="#" class="btn btn-primary">epub</a>
							<a href="#" class="btn btn-primary active">mobi</a>
							<a href="#" class="btn btn-primary">pdf</a>
						  </div>
						  <a
							href="{{post.book.details.download}}"
							class="btn btn-primary"
							target="_blank"
							>Читать</a
						  >
						</div>
						<small class="text-muted">2022. 416с.</small>
					  </div>
					</div>
				  </div>
				  
				{% endfor %}
			</div>
		</div>
	</div>
</body>
{% include "scripts.html" %}
</html>